body{
    background-color: bisque;
    color:black;
    padding:0;
    margin:0;
    
}
p{
    margin:50px;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    
}
.c1{
    margin:50px;
    color:brown;
    font-size: larger;
    font-weight: bolder;
    padding:50px;
    padding-left:250px;
}
.c2{
    margin:50px;
    color:darkmagenta;
    font-size: medium;
    font-weight: 700;
    padding:50px;
    padding-left:250px;
}